<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/minilayout}">

	
		<div class="home_contents" style="width: 200px;" layout:fragment="content">
				<div class="profile_3">
					<a href="mdiaryform">다이어리 작성</a>
				</div>
                <div>
                <div class="diary" >
							<!-- 여기에 내용을 넣어주세요 -->
								<div th:each="c:${lists}"> 
									<div class="diary_contents" style="color: black;">
										<div th:text = "${c.mini_dia_date }" class="diary_date"></div>
										<div th:text = "${c.mini_dia_nick }" class="diary_date"></div>
										<div th:text = "${c.mini_dia_sub }" class="diary_date"></div>
										<div th:text = "${c.mini_dia_content }" class="diary_date"></div>
										<img th:src="@{'../static/resources/imgfile/'+${c.mini_dia_file}}" alt="Image" style="width: 50%; height: 50%">
								    </div>
								</div> 
							<!-- 선 넘지 마세요 -->
							</div>
                  </div>
                  
              </div>
							
