<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/sublayout}"
> 
<div  layout:fragment="content" style="margin: 50px;">  
      <script src="https://replit.com/public/js/replit-badge-v2.js" theme="dark" position="bottom-right"></script>
  <form>
    <h1>객실 등록하기</h1>
    숙박시설 내 객실 정보에 대해 입력해주세요
    <script src="script.js"></script>
    <h3 style="color: green;">객실정보</h6>
      <table class="table table-hover">
        <tr>
          <td>
            <label>객실명</label>
            <select name="rooms" id="rooms">
              <option value="standard">스탠다드</option>
              <option value="deluxe">디럭스</option>
              <option value="family">패밀리</option>
              <option value="sweet">스위트</option>
            </select>

          </td>
          <td>
            <label>객실유형</label>
            <select name="roomtype" id="roomtype">
              <option value="single">싱글</option>
              <option value="twin">트윈</option>
              <option value="double">더블</option>

            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label>객실전망</label>
            <select name="roomtype" id="roomtype">
              <option value="city">도시</option>
              <option value="ocean">바다</option>
              <option value="mountain">산</option>
            </select>
          </td>
          <td>
            <input type="">
            <label>층</label>
          </td>
        </tr>
        <tr>
          <td>
            <label>객실크기(m2)</label>
            <input>
          </td>
          <td>
            <label>객실크기(평)</label>
            <input>
          </td>
        </tr>
        <tr>
          <td>
            <label>객실구성</label>
            <label>방</label>
            <input type=text name=amount value=1>
            <input type=button value="up" onClick="javascript:this.form.amount.value++;">
            <input type=button value="down" onClick="javascript:this.form.amount.value--;">
          </td>
          <td>
            <label>화장실/욕실</label>
            <input type=text name=amount value=1>
            <input type=button value="up" onClick="javascript:this.form.amount.value++;">
            <input type=button value="down" onClick="javascript:this.form.amount.value--;">
          </td>
          <td>
            <label>거실</label>
            <input type=text name=amount value=1>
            <input type=button value="up" onClick="javascript:this.form.amount.value++;">
            <input type=button value="down" onClick="javascript:this.form.amount.value--;">
          </td>
          <td>
            <label>주방</label>
            <input type=text name=amount value=1>
            <input type=button value="up" onClick="javascript:this.form.amount.value++;">
            <input type=button value="down" onClick="javascript:this.form.amount.value--;">
          </td>
          <td>
            <label>테라스</label>
            <input type=text name=amount value=1>
            <input type=button value="up" onClick="javascript:this.form.amount.value++;">
            <input type=button value="down" onClick="javascript:this.form.amount.value--;">
          </td>
        </tr>
        <tr>
          <td>
            <label>침대</label>
            <select name="bedtype" id="bedtype">
              <option value="single">싱글</option>
              <option value="double">더블</option>
            </select>
            <input type=text name=amount value=1>
            <input type=button value="up" onClick="javascript:this.form.amount.value++;">
            <input type=button value="down" onClick="javascript:this.form.amount.value--;">
          </td>
        </tr>
        <tr>
          <label>투숙인원</label>
          <td>
            <label>기준인원</label>
            <input type=text name=amount value=1>
            <input type=button value="up" onClick="javascript:this.form.amount.value++;">
            <input type=button value="down" onClick="javascript:this.form.amount.value--;">
          </td>
          <td>
            <label>최대인원</label>
            <input type=text name=amount value=1>
            <input type=button value="up" onClick="javascript:this.form.amount.value++;">
            <input type=button value="down" onClick="javascript:this.form.amount.value--;">
          </td>
        </tr>
      </table>
      
      <h2>객실시설 상세정보</h2>
      객실 서비스
      <table>
        <thead>
          <tr>
            <th><input type="checkbox" id="cbx_chkAll" /></th>
            <th>객실시설 상세정보 체크박스 테스트</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="checkbox" name="chk"></td>
            <td>객실 서비스 </td>
            <td><input type="checkbox" name="chk"></td>
            <td>금연</td>
            <td><input type="checkbox" name="chk"></td>
            <td>흡연 가능</td>
            <td><input type="checkbox" name="chk"></td>
            <td>가족 객실</td>
            <td><input type="checkbox" name="chk"></td>
            <td>취사 가능</td>
            <td><input type="checkbox" name="chk"></td>
            <td>객실 연결 가능</td>
          </tr>
          <tr>
            <td><input type="checkbox" name="chk"></td>
            <td>객실 구비 품목</td>
            <td><input type="checkbox" name="chk"></td>
            <td>에어컨</td>
            <td><input type="checkbox" name="chk"></td>
            <td>TV</td>
            <td><input type="checkbox" name="chk"></td>
            <td>식탁</td>
            <td><input type="checkbox" name="chk"></td>
            <td>세탁기</td>
            <td><input type="checkbox" name="chk"></td>
            <td>커피/차</td>
            <td><input type="checkbox" name="chk"></td>
            <td>전기포트</td>
            <td><input type="checkbox" name="chk"></td>
            <td>냉장고</td>
            <td><input type="checkbox" name="chk"></td>
            <td>다리미</td>
            <td><input type="checkbox" name="chk"></td>
            <td>휴대폰 충전기</td>
            <td><input type="checkbox" name="chk"></td>
            <td>와인잔</td>
          </tr>
          <tr>
            <td><input type="checkbox" name="chk"></td>
            <td>욕실 구비 품목</td>
            <td><input type="checkbox" name="chk"></td>
            <td>욕조</td>
            <td><input type="checkbox" name="chk"></td>
            <td>비데</td>
            <td><input type="checkbox" name="chk"></td>
            <td>샤워부스</td>
            <td><input type="checkbox" name="chk"></td>
            <td>바디샴푸</td>
            <td><input type="checkbox" name="chk"></td>
            <td>샴푸/린스</td>
            <td><input type="checkbox" name="chk"></td>
            <td>헤어드라이기</td>
            <td><input type="checkbox" name="chk"></td>
            <td>면도기</td>
            <td><input type="checkbox" name="chk"></td>
            <td>타월</td>
            <td><input type="checkbox" name="chk"></td>
            <td>면봉</td>
            <td><input type="checkbox" name="chk"></td>
            <td>헤어밴드</td>
            <td><input type="checkbox" name="chk"></td>
            <td>샤워캡</td>
            <td><input type="checkbox" name="chk"></td>
            <td>칫솔/치약</td>
          </tr>
        </tbody>
      </table>
      .
      .

      <button type="button">등록하기</button>
      <!--
  This script places a badge on your repl's full-browser view back to your repl's cover
  page. Try various colors for the theme: dark, light, red, orange, yellow, lime, green,
  teal, blue, blurple, magenta, pink!
  -->
  </form>
  </div>
