<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <nav th:fragment="mininav2Fragment"
	 class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light" 
	 id="ftco-navbar">
     <div class="menu_bar">
            <a th:href="@{'minidiaryDetail?num=' + ${detail.mini_home_num}}">&nbsp;&nbsp;홈</a>
            <a th:href="@{'mdiaryList?num=' + ${detail.mini_home_num}}">&nbsp;&nbsp;다이어리</a>
            <a th:href="@{'mphotoList?num=' + ${detail.mini_home_num}}">&nbsp;&nbsp;사진첩</a>
            <a th:href="@{'mcalList?num=' + ${detail.mini_home_num}}">&nbsp;&nbsp;메모</a>
            <a href="mcalResult">&nbsp;&nbsp;캘린더</a>
            <a href="minimap" class="menu_button4">&nbsp;&nbsp;지도</a>
            
     </div>
</nav>